extends page.pug

block content 
	.title
		h1 Create new user
	form(action="/create", method="post")
		.section 
			label(for="inputUsername") Username:
			input(type="text", id="inputUsername", name="username", autocomplete="username", required=true)
		.section 
			label(for="inputName") First Name:
			input(type="text", id="inputName", name="name", autocomplete="given-name", required=true)
		.section 
			label(for="inputEmail") Email:
			input(type="email", id="inputEmail", name="email", autocomplete="email", required=true)
		.section 
			label(for="inputAge") Age:
			input(type="number", id="inputAge", name="age", min="0", required=true, step="1")
		.section
			button(type="submit") Create User